.instagram__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 700;
  letter-spacing: 0.3rem;
}
.instagram__wrap {
  text-align: center;
  width: 100%;
  height: 300px;
  background-color: #000;
  position: relative;
  margin-bottom: 80px;
  object-fit: cover;
}
.instagram__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 1;
  z-index: 1;
}
.instagram__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
