@import "mixin";

/* blog記事ページ */
.blog {
  padding-top: 5rem;
  margin: auto;
  padding: 5rem 1rem 2rem;
  max-width: 1000px;
  min-height: calc(100vh - 140px);
}
.post {
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
  }
  a {
    text-decoration: underline;
  }
  p,
  figure {
    margin-bottom: 1.5rem;
  }
  figure {
    max-width: 600px;
  }
  strong {
    font-weight: 700;
  }
}

/* blog記事一覧 */
.blog__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.blog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  padding: 0 40px;
}
.blog__list::after {
  content: "";
  width: calc(100% / 3 - 40px);
}
.blog__list__item {
  width: calc(100% / 3 - 40px);
  background-color: #fff;
  @include mq("sp") {
    width: 100%;
    margin-right: 0;
  }
}
.blog__list__item img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}
.blog__list__item__title {
  padding: 8px 16px;
}
.blog__list__item__category {
  padding: 4px 8px;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 0.8rem;
}
.blog__list__item__info {
  padding: 0 16px 16px;
}
.blog__list__item__date {
  margin-left: 8px;
  font-size: 0.8rem;
  color: #999;
}

// ブログ検索inoput
.blog-search {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 40px;
  padding: 0 40px;
  &__input {
    width: 100%;
    max-width: 400px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  &__label {
    margin-right: 16px;
    white-space: nowrap;
  }

  .blog__index & {
    display: none;
  }
}
