---
import Layout from "../layouts/Layout.astro";
import '../styles/blog.scss';

// blog(microCMS)呼び出し
import { getBlogs } from "../library/microcms";
const response = await getBlogs({ fields: ["id", "title", "eyecatch","publishedAt","category"] });

// blog一覧コンポーネント
import BlogList from "../components/BlogList.jsx";


---

<Layout title="blog記事一覧 P-Vintage">
  <main class="blog">
    <h2 class="blog__title">Blog</h2>
    <BlogList response={response} client:load />
  </main>
</Layout>