---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import '../styles/blog.scss';

//microCMS呼び出し
import { getBlogs , getInfo } from "../library/microcms";
const response = await getBlogs({ fields: ["id", "title", "eyecatch","publishedAt","category"],limit:3 });
const responseInfo = await getInfo({ fields: ["info"] });

// blog一覧コンポーネント
import BlogList from "../components/BlogList.jsx";

// ボタンコンポーネント
import Button from "../components/atoms/Button.tsx";

// mainvisual画像
import MvImg from "../images/mv.jpg";
import instagramImg from "../images/instagram.jpg";

---

<style>
  .main-visual{
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: #000;
    position: relative;
    margin-bottom:80px;
    object-fit: cover;
  }
  .main-visual__title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: #fff;
    opacity: 1;
    z-index: 1;
    font-weight:600;
    letter-spacing: .3rem;
  }
  .main-visual__image{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  .read-text{
    text-align:center; 
    max-width: 1200px;
    margin:0 auto 80px;
    padding:0 40px;
    font-size:0.8rem;
  }

  .info{
    max-width: 1200px;
    margin:0 auto 80px;
    padding:0 40px;
  }
  .info__title{
    text-align: center;
    font-size: 2rem;
    margin-bottom:40px;
    font-weight:600;
    letter-spacing: .3rem;
  }
  .info__text{
    text-align: center;
    font-size: .8rem;
  }

  .contact__title{ 
    text-align: center;
    font-size: 2rem;
    margin-bottom:40px;
    font-weight:600;
    letter-spacing: .3rem;
  }
  .contact__text{
    text-align:center; 
    max-width: 1200px;
    margin:0 auto 80px;
    padding:0 40px;
    font-size:0.8rem;
  }
  .contact__link{
    text-decoration: underline;
  }


  .instagram__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: 700;
    letter-spacing: 0.3rem;
  }
  .instagram__wrap{
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: #000;
    position: relative;
    margin-bottom:80px;
    object-fit: cover;
  }
  .instagram__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 1;
    z-index: 1;
  }
  .instagram__image{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

</style>



<Layout title="P-Vintage Webサイト">
  <main>
    <section id="mainVisual">
      <div class="main-visual">
        <h1 class="main-visual__title">P-Vintage</h1>
        <Image src={MvImg} class="main-visual__image" width="1000" height="400" alt="P vintage Webサイト" />
      </div>
    </section>


    <!-- info -->
    {responseInfo.info && 
      <section id="info" class="info">
        <h2 class="info__title">Info</h2>
        <p class="info__text">
          {responseInfo.info}
        </p>
      </section>
    }

    <!-- read文 -->
    <section id="readText">
      <p class="read-text">
        P Vintageは、90年代にあったレギュラー古着と自分たちが素敵だと感じた古着の販売をしています。<br>
        取り扱う古着は、デニム、ワーク、ミリタリー、スポーツ、アウトドアを中心に取り扱っています。<br>
        また、古着のリメイク商品も取り扱っています。<br>
        ぜひ、ご覧いただけますと幸いです。
      </p>
    </section>

    <!-- blog -->
    <section id="blog" class="blog__index">
      <h2 class="blog__title">Blog</h2>
      <BlogList response={response} />
      <Button href="/blog" text="ブログの記事一覧を見る" />
    </section>


    <section id="instagram" class="pt-6">
      <h2 class="instagram__title">instagram</h2>
      <div class="instagram__wrap">
        <div class="instagram__text">
          <p class="pb-4 pt-4">P-Vintageのinstagramです。<br />最新の商品情報やイベント情報を更新しています。</p>
          <Button href="https://www.instagram.com/p_vintage.sleep/" text="instagram" />
        </div>
        <Image src={instagramImg} class="instagram__image" width="1000" height="400" alt="P vintage instagram" />
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <h2 class="contact__title">Contact</h2>
      <p class="contact__text">
        お問合せはお手数ですが、<a href="https://www.instagram.com/p_vintage.sleep/" class="contact__link" target="_blank">Instagram</a>のDMからお願いいたします。
      </p>
    </section>


  </main>
</Layout>

