---
import Layout from "../layouts/Layout.astro";
import '../styles/blog.scss';

//microCMS呼び出し
import { getBlogs , getInfo } from "../library/microcms";
const response = await getBlogs({ fields: ["id", "title", "eyecatch","publishedAt","category"],limit:3 });
const responseInfo = await getInfo({ fields: ["info"] });

import mvImg from "../images/mv.jpg"; // 画像
import IntroAnime from "../components/IntroAnime.jsx"; // Introアニメコンポーネント
import MainVisual from "../components/MainVisual.jsx";// MVコンポーネント
import BlogList from "../components/BlogList.jsx";// blog一覧コンポーネント
import Button from "../components/atoms/Button.tsx";// ボタンコンポーネント
import InstaIndex from "../components/InstaIndex.jsx";// instagramコンポーネント

---


<style>
  .read-text{
    text-align:center; 
    max-width: 1200px;
    margin:0 auto 80px;
    padding:0 40px;
    font-size:0.8rem;
    line-height:1.5rem;
  }

  .info{
    max-width: 1200px;
    margin:0 auto 80px;
    padding:0 40px;
  }
  .info__title{
    text-align: center;
    font-size: 2rem;
    margin-bottom:40px;
    font-weight:600;
    letter-spacing: .3rem;
  }
  .info__text{
    text-align: center;
    font-size: .8rem;
  }

  .contact__title{ 
    text-align: center;
    font-size: 2rem;
    margin-bottom:40px;
    font-weight:600;
    letter-spacing: .3rem;
  }
  .contact__text{
    text-align:center; 
    max-width: 1200px;
    margin:0 auto 80px;
    padding:0 40px;
    font-size:0.8rem;
  }
  .contact__link{
    text-decoration: underline;
  }
</style>



<Layout title="P-Vintage Webサイト">
  <main>

    <!-- アニメーション -->
    <IntroAnime client:only="react" />
    
    <!-- メインビジュアル -->
    <MainVisual mvImg={mvImg} />
    
    <!-- info -->
    {responseInfo.info && 
      <section id="info" class="info">
        <h2 class="info__title">Info</h2>
        <p class="info__text">
          {responseInfo.info}
        </p>
      </section>
    }

    <!-- read文 -->
    <section id="readText">
      <p class="read-text">
        P Vintageは、90年代にあったレギュラー古着と自分たちが素敵だと感じた古着の販売をしています。<br>
        取り扱う古着は、デニム、ワーク、ミリタリー、スポーツ、アウトドアを中心に取り扱っています。<br>
        また、古着のリメイク商品も取り扱っています。<br>
        ぜひ、ご覧いただけますと幸いです。
      </p>
    </section>

    <!-- blog -->
    <section id="blog" class="blog__index">
      <h2 class="blog__title">Blog</h2>
      <BlogList response={response} />
      <Button href="/blog" text="ブログの記事一覧を見る" />
    </section>


    <InstaIndex />

    <!-- Contact -->
    <section id="contact">
      <h2 class="contact__title">Contact</h2>
      <p class="contact__text">
        お問合せはお手数ですが、<a href="https://www.instagram.com/p_vintage.sleep/" class="contact__link" target="_blank">Instagram</a>のDMからお願いいたします。
      </p>
    </section>


  </main>
</Layout>

