---
import { Image } from 'astro:assets';
import logoImg from '../images/logo.png';
---

<header class="p-header fixed">
	<div class="p-header-logo">
		<a href="/"><Image src={logoImg} width="50" height="50" alt="p-vintage"/></a>
	</div>
	<nav class="p-header-link">
		<ul class="p-header-link-list">
			<li class="p-header-link-list--link">
				<a href="https://p-vintage.stores.jp/" target="_blank">online shop</a>
			</li>
			<li class="p-header-link-list--link">
				<a href="https://www.instagram.com/p_vintage.sleep/" target="_blank">instagram</a>
			</li>
		</ul>
	</nav>
</header>


<style>
.p-header{
	display: flex;
	align-items: center;
	justify-content:space-between;
	width:100%;
	padding:1em;
	background:#fff;
	top:0;
	box-shadow:
		0px 0.4px 0.5px rgba(0, 0, 0, 0.017),
		0px 1px 1.3px rgba(0, 0, 0, 0.025),
		0px 2.4px 3px rgba(0, 0, 0, 0.033),
		0px 8px 10px rgba(0, 0, 0, 0.05);
	z-index:10;
}
.p-header-link-list{
	display: flex;
}
.p-header-link-list--link + .p-header-link-list--link{
	margin-left:30px;
}
</style>
